<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
.center {
	text-align: center;
	border: 0px solid green;
}
</style>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <p class="text-light" sec:authorize="isAuthenticated()">
            User Logged: <span sec:authentication="name" class="text-success"></span>
            | Roles: <span sec:authentication="principal.authorities"
                           class="text-danger"></span>
        </p>
        <ul class="navbar-nav ml-auto">
            <form id="logoutForm" th:action="@{/logout}" method="post" c>
                <button class="btn btn-danger"  style="float:right";
                        onclick="document.getElementById('logoutForm').submit();"
                        type="submit">Logout</button>
            </form>

        </ul>
    </nav>
</header>
<div class="alert alert-info" th:text="${info}" th:if="${info}"></div>
<h2 class="text-center text-primary">Registered Subjects</h2>
<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/list}" class="btn btn-success btn-xs">Return to Subject List</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>NAME</th>
        <th>PROFESSOR</th>
        <th>SCHEDULE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subjects_registry: ${subjects_registered}">
        <td th:text="${subjects_registry.name}"></td>
        <td th:text="${subjects_registry.professor.name} + ' ' + ${subjects_registry.professor.last_name}" ></td>
        <td th:text="${subjects_registry.schedule}"></td>
    </tr>
    </tbody>
</table>
<footer>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
</footer>
</body>
</html>